.services__img {
  position: absolute;
  right: -350px;
  top: 56%;
  transform: translateY(-50%);
  width: auto;
  height: auto;
  z-index: 0;
}

@media (max-width: 1900px) {
  .services__img {
    position: static;
    transform: none;
    margin-bottom: 50px;
  }
}
  
@media (max-width: 400px) {
  .services__img {
    margin-top: -8px;
    margin-bottom: 0;
  }
}