.services__img {
  position: absolute;
  right: -290px;
  top: 56%;
  transform: translateY(-50%);
  max-width: 1063px;
  height: 598px;
  z-index: 0;
}
  
@media (max-width: 1900px) and (min-width: 769px) {
  .services__img {
    right: -15vw;
    top: 50%;
    transform: translateY(-50%);
    width: 50vw;
    height: calc(50vw * 598 / 1063);
    aspect-ratio: 1063 / 598;
    margin: 3% auto;
    display: block;
    z-index: 0;
  }
}

@media (max-width: 1450px) and (min-width: 769px) {
  .services__img {
    right: -15vw;
    top: 50%;
  }
}
  
@media (max-width: 768px) {
  .services__img {
    position: static;
    width: 852px;
    height: 479px;
    transform: none;
    margin-top: -8px;
    margin-bottom: 0;
  }
}