.cards {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0 0 85px 0;
  padding: 0;
}

.cards.cards-portfolio {
  max-width: 1760px;
  margin: 0;
  transition: transform 0.5s ease;
  will-change: transform;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards {
    gap: 3vw;
    margin: 0 0 4vw 0;
  }
}