.portfolio__container {
  width: 100%;
  max-width: 1760px;
  margin: 100px 0 99px; 
  overflow: hidden;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .portfolio__container {
    max-width: 90%;
    margin: 5vw 0 4.5vw;
  }
}

@media (max-width: 768px) {
  .portfolio__container {
    margin: 50px 20px;
  }
}