.services__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1760px;
  margin: 125px 0 130px;
}

@media (max-width: 1920px) {
  .services__container {
    margin: 120px 0 130px;
  }
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__container {
    padding: 0 5%;
    margin: 5% 0;
  }
}

@media (max-width: 768px) {
  .services__container {
    margin: 120px 0 130px;
    flex-direction: column;
    margin: 50px 0 0;
  }
}