.reviews__container {
  width: 100%;
  max-width: 1760px;
  margin: 100px 0 0 0;
  padding-bottom: 100px;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .reviews__container {
    max-width: 90%;
    margin: 5vw 0 0 0;
    padding-bottom: 5vw;
  }
}

@media (max-width: 768px) {
  .reviews__container {
    margin: 50px 0 0 0;
    padding-bottom: 48px;
  }
}