.header__link {
  position: relative;
}

.header__link:hover {
  display: inline-block;
  color: #B4100D;
  cursor: pointer;
}

.header__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 44px;
  height: 44px;
  z-index: 1;
}

.header__link.header__email::before, .header__link.header__tel:first-child:before {
  top: 30%;
}

.header__link.header__adress::before, .header__link.header__tel:last-child:before {
  top: 80%;
}

@media (hover: none), (pointer: coarse) {
  .header__link:hover {
    color: inherit;
    cursor: default;
  }
}