.form {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 100px 80px 270px;
  background-color: #18191E;
  color: #F4F4F4;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-y: auto;
}

.form.form_feedback {
  max-width: 1760px;
  min-height: 0;
  padding: 100px 0 102px;
}

@media (max-width: 768px) {
  .form.form_feedback {
    padding: 50px 0;
  }
  .form.form_popup-application {
    padding: 50px 20px;
    margin: auto;
    max-height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
  }
}