.services__warranty {
  position: relative;
  display: inline-block;
  max-width: 363px;
  margin: 0 65px 0 60px;
  padding: 20px 40px 28px;
  border-radius: 10px;
  background-color: #FFF;
  line-height: 120%;
  text-align: center;
  z-index: 5;
}

.services__warranty::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #FFF;
  transform: rotate(45deg);
  top: 15px;
  left: 40%;
  z-index: -1;
}

@media (max-width: 400px) {
  .services__warranty {
    margin: 0;
    padding: 28px 30px 28px 28px;
    font-size: 18px;
  }
  .services__warranty::before {
    left: 38%;
    top: 17px;
  }
}