.footer__nav-title {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__nav-title {
    font-size: 1.1vw;
  }
}

@media (max-width: 768px) {
  .footer__nav-title {
    font-size: 16px;
  }
}