.services__card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 47px;
  padding: 15px;
  border-radius: 10px;
  background-color: #FFF;
}

@media (max-width: 400px) {
  .services__card {
    gap: 20px;
    font-size: 18px;
    line-height: 130%;
  }
}