.services__text {
  max-width: 621px;
  margin-left: 170px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__text {
    margin-left: 0;
    font-size: 1.2vw;
    max-width: calc(66.666% - 2.4vw);
  }
}

@media (max-width: 768px) {
  .services__text {
    font-size: 16px;
    line-height: 130%;
    margin-left: 0;
  }
}