.cards__item-img {
  width: 540px;
  height: 540px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.cards__item-img.card-portfolio {
  height: 520px;
}

.cards__item-img.mirrored {
  transform: scaleX(-1);
}

.cards.cards-products .cards__item:hover .cards__item-img {
  scale: 1.1;
  transition: scale 0.3s ease;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-img {
    width: 27vw;
    height: 27vw;
  }
  .cards__item-img.card-portfolio {
    height: 27vw;
  }
}


@media (max-width: 768px) {
  .cards__item-img {
    width: 315px;
    height: 315px;
  }
  .cards__item-img.card-portfolio {
    max-width: 315px;
    height: auto;
  }
}