.form {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 100px 80px 270px;
  background-color: #18191E;
  color: #F4F4F4;
  box-sizing: border-box;
}

.form.form_feedback {
  max-width: 1760px;
  padding: 100px 0 102px;
}

@media (max-width: 1919px) and (min-width: 769px) {
  .form {
    max-width: 100%;
    padding: 5vw 4vw 14vw;
  }
  .form.form_feedback {
    max-width: 90%;
    padding: 5vw 0 5vw;
  }
}

@media (max-width: 768px) {
  .form.form_feedback {
    padding: 50px 0;
  }
  .form.form_popup-application {
    padding: 50px 20px;
  }
}