.header__burger-line {
  width: 20px;
  border: 1px solid #1F1F1F;
  transition: all 0.3s ease;
}

.header__burger.active .header__burger-line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.header__burger.active .header__burger-line:nth-child(2) {
  opacity: 0;
}

.header__burger.active .header__burger-line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}