.popup-application__form {
  position: relative;
  width: 100%;
  max-width: 1920px;
  padding: 100px 80px 269px;
  background-color: #18191E;
  color: #F4F4F4;
  box-sizing: border-box;
  
}

@media (max-width: 1919px) {
  .popup-application__form {
    padding: 50px 20px;
  }
}

@media (max-height: 1000px) {
  .popup-application__form {
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
  }
}