.reviews__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .reviews__box {
    margin-bottom: 3vw;
  }
}

@media (max-width: 768px) {
  .reviews__box {
    margin: 0 0 30px 20px;
  }
}