.popup-gratitude__button {
  width: 300px;
  height: 60px;
  background-color: #B4100D;
  color: #FFF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .popup-gratitude__text {
    font-size: 20px;
  }
  .popup-gratitude__text_min {
    font-size: 14px;
  }
  .popup-gratitude__button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 375px) {
  .popup-gratitude__button {
    font-size: 12px;
    padding: 6px 12px;
  }
}