.about__button-control {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  @media (hover: hover) {
    transition: background-color 0.3s ease;
  }
}

@media (hover: hover) {
  .about__button-control:hover {
    background-color: #B4100D;
    cursor: pointer;
  }
}

.about__button-control.about__button--prev {
  background-image: url(../../../assets/prev.svg);
}

.about__button-control.about__button--next {
  background-image: url(../../../assets/prev.svg);
  transform: rotate(180deg);
}
