.form__close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../../../assets/delite.svg);
  background-color: transparent;
  border: none;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .form__close {
    top: 2.5vw;
    right: 2.5vw;
    width: 2vw;
    height: 2vw;
  }
}