.company__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1760px;
  margin: 115px 0;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .company__container {
    max-width: 90%;
    margin: 6vw 0;
    padding: 0 5%;
  }
}