.about__box-shield {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 420px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .about__box-shield {
    gap: 30px;
    padding: 11px 15px;
  }
}

@media (max-width: 400px) {
  .about__box-shield {
    gap: 17px;
    padding: 11px 0;
  }
}