.products__subtitle {
  font-size: 30px;
  line-height: 130%;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .products__subtitle {
    font-size: 1.8vw;
  }
}

@media (max-width: 768px) {
 .products__subtitle {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}