.footer__nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer__nav-item:nth-child(1) {
  margin-right: 176px;
}

.footer__nav-item:nth-child(2) {
  margin-right: 214px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__nav-item {
    gap: 1vw;
  }
  .footer__nav-item:nth-child(1) {
    margin-right: 9vw;
  }
  .footer__nav-item:nth-child(2) {
    margin-right: 11vw;
  }
}

@media (max-width: 768px) {
  .footer__nav-item, .footer__nav-item:nth-child(1), .footer__nav-item:nth-child(2) {
    margin-right: 0;
    flex-direction: column-reverse;
    gap: 13px;
  }
}