.popup-application {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 0;
  background-color: #18191e;
  z-index: 30;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.popup-application.popup.fancybox__content {
  padding: 0;
}