.partners__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.partners__img.iztt {
  margin: 0 32px 10px 0;
}

@media (max-width: 768px) {
  .partners__img.technonicol {
    width: 228px;
    height: 39px;
  }
  .partners__img.lukoil {
    width: 61px;
    height: 61px;
  }
  .partners__img.iztt {
    width: 170px;
    height: 70px;
    margin: 0;
  }
  .partners__img.beko {
    width: 121px;
    height: 68px;
  }
  .partners__img.knauf {
    width: 94px;
    height: 60px;
  }
  .partners__img.mvideo {
    width: 145px;
    height: 45px;
  }
}