.footer__map-img {
  position: relative;
  width: 1920px;
  height: 702px;
  filter: grayscale(100%) brightness(50%);
  z-index: 1; 
  object-fit: cover;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__map-img {
    width: 98vw;
    height: 37vw;
  }
}

@media (max-width: 768px) and (min-width: 377px) {
  .footer__map-img {
    height: clamp(456px, 60vw, 600px);
  }
}

@media (max-width: 376px) {
  .footer__map-img {
    width: 375px;
    height: 456px;
  }
}
