.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  color: #1F1F1F;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 9;
}


