.footer__nav-link {
  color: #FFF;
  font-size: 40px;
  line-height: 90%;
}

.footer__nav-item:first-child .footer__nav-link {
  font-size: 36px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__nav-link {
    font-size: 2.1vw;
  }
  .footer__nav-item:first-child .footer__nav-link {
    font-size: 1.9vw;
  }
}

@media (max-width: 768px) {
  .footer__nav-link, .footer__nav-item:first-child .footer__nav-link {
    max-width: 328px;
    font-size: 28px;
    white-space: normal;
    text-align: center;
    line-height: 120%;
  }
  .footer__nav-item:first-child .footer__nav-link:first-of-type {
    order: 3;
  }
}

@media (hover: none), (pointer: coarse) {
  .header__link:hover {
    cursor: default;
  }
}