.about__title {
  margin: 100px 0 35px;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -7.5%;
  text-transform: uppercase;
}

.about__title span {
  color: #B4100D;
}

@media (max-width: 1900px) and (min-width: 1001px) {
  .about__title {
    font-size: 3vw;
    letter-spacing: -2.5px;
    margin-top: 10%;
  }
}

@media (max-width: 1000px) and (min-width: 769px) {
  .about__title {
    margin: 10% 0 25px;
    font-size: 3vw;
    letter-spacing: -2.5px;
  }
}

@media (max-width: 768px) {
  .about__title {
    margin: 0 0 15px;
    font-size: 24px;
    line-height: 115%;
  }
}
