.popup-application__close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../../../assets/delite.svg);
  background-color: transparent;
  border: none;
}

@media (max-width: 800px) {
  .popup-application__close {
    top: 10px;
    right: 10px;
  }
}