.company__img-carousel {
  width: 560px;
  height: 746px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 10px;
}

.company__img-carousel_big {
  width: 995px;
  height: 746px;
  object-fit: cover;
  flex-shrink: 0;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .company__img-carousel {
    width: auto;
    height: 40vw;
    aspect-ratio: 560 / 746;
  }
  .company__img-carousel_big {
    width: auto;
    height: 40vw;
    aspect-ratio: 995 / 746;
  }
}

@media (max-width: 768px) {
  .company__img-carousel {
    width: 274px;
    height: 365px;
    aspect-ratio: unset;
  }
  
  .company__img-carousel_big {
    width: 487px;
    height: 365px;
    aspect-ratio: unset;
  }
}