@media (max-width: 1900px) and (min-width: 769px) {
  .company__img-carousel {
    max-width: 30vw;
  }
}

@media (max-width: 768px) {
  .company__img-carousel {
    width: 274px;
    height: 365px;
  }
}
