.partners__container {
  position: relative;
  max-width: 1760px;
  margin: 100px 0 140px;
  overflow: hidden;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .partners__container {
    max-width: 90%;
    margin: 5vw 0 7vw;
  }
}

@media (max-width: 768px) {
  .partners__container {
    margin: 50px 0 58px 20px;
  }
}