.footer__map-block {
  position: absolute;
  top: 46.5%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__map-block {
    gap: 0.5vw;
  }
}

@media (max-width: 768px) {
  .footer__map-block {
    top: 49.5%;
    left: 65%;
  }
}