.footer{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #18191E;
  color: #FFF;
  font-size: 17px;
  line-height: 20px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer {
    font-size: 0.9vw;
    line-height: 1.1vw;
  }
}