.cards__item-switch {
  position: absolute;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-switch {
    bottom: 0.7vw;
    gap: 0.2vw;
  }
}


@media (max-width: 768px) {
  .cards__item-switch {
    bottom: 20px;
  }
}