.header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.header__burger span {
  width: 18px;
  border: 1px solid #1F1F1F;
}

@media (max-width: 1600px) {
  .header__burger {
    display: flex;
  }
}

