.header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
}

@media (max-width: 1600px) {
  .header__burger {
    display: flex;
  }
}

