.services__button {
  width: 410px;
  height: 60px;
  border: 2px solid #B4100D;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  color: #B4100D;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.services__button:hover {
  background-color: #B4100D;
  color: #FFF;
  cursor: pointer;
}

@media (hover: none), (pointer: coarse) {
  .services__button:hover {
    background-color: transparent;
    color: #B4100D;
    cursor: default;
  }
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__button {
    width: calc(33.333% - (2 * 1.2vw) / 3);
    height: 4vw;
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  .services__button {
    width: 335px;
    height: 59px;
  }
}