.products__item-advantages {
  display: flex;
  gap: 30px;
  align-items: center;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .products__item-advantages {
    gap: 1.5vw;
  }
}

@media (max-width: 768px) {
  .products__item-advantages {
    gap: 15px;
  }
}