.form__title {
  margin-bottom: 30px;
  font-family: Golos Text;
  font-weight: 500;
  font-size: 76px;
  line-height: 108%;
  letter-spacing: -3.8px;
  text-transform: uppercase;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .form__title {
    margin-bottom: 1.5vw;
    font-size: 4.5vw;
    letter-spacing: -0.2vw;
  }
}