.cards__item-title {
  font-size: 36px;
  line-height: 130%;
}

.cards.cards-products .cards__item:hover .cards__item-title {
  color: #B4100D;
  transition: color 0.3s ease;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-title {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .cards__item-title {
    font-size: 26px;
  }
}