.about__button {
  width: 300px;
  height: 60px;
  margin: 28px 0 30px;
  background-color: #B4100D;
  color: #FFF;
  border: 2px solid #B4100D;
  border-radius: 10px;
  font-size: 16px;
  @media (hover: hover) {
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  }
}

@media (hover: hover) {
  .about__button:hover {
    background-color: #FFF;
    color: #B4100D;
    cursor: pointer;
  }
}

@media (max-width: 1900px) and (min-width: 769px) {
  .about__button {
    width: 20vw;
    height: 4vw;
    font-size: 1vw;
  }
}

@media (max-width: 768px) {
  .about__button {
    width: 335px;
    height: 50px;
    margin: 20px 0;
  }
}
