.questions__faq-switch {
  position: relative;
  top: -7px;
  width: 40px;
  height: 40px;
  border: none;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease;
}

.questions__faq-switch_plus {
  background-image: url(/Educational_project/assets/img/questions-plus.svg);
  opacity: 1;
  transform: scale(1);
}

.questions__faq-switch_minus {
  top: -13px;
  left: -5px;
  background-image: url(/Ingolf/assets/img/questions-minus.svg);
  width: 32px;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease; 
}

@media (max-width: 1900px) and (min-width: 769px) {
  .questions__faq-switch {
    top: -0.4vw;
    width: 2vw;
    height: 2vw;
    background-size: 2vw 2vw;
  }
}

@media (max-width: 768px) {
  .questions__faq-switch {
    top: 0;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
  .questions__faq-switch_minus {
    left: 0;
    background-size: 24px 24px;
  }
}
