.header__logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 60px;
}

.header__logo img:first-child {
  width: 150px;
  height: 42px;
}

.header__logo img:last-child {
  width: 150px;
  height: 10px;
}

@media (max-width: 1600px) {
  .header__logo {
    gap: 5px;
    margin-right: 0;
  }
  .header__logo img:first-child {
    width: 99px;
    height: 28px;
  }
  .header__logo img:last-child {
    width: 99px;
    height: 7px;
  }
}

