.header__logo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 150px;
  height: 60px;
  margin-right: 60px;
  cursor: default;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .header__logo {
    gap: 5px;
    margin-right: 2vw;
  }
}

@media (max-width: 768px) {
  .header__logo {
    gap: 5px;
    width: 100px;
    height: 40px;
    margin-right: 0;
  }
}

