.cards__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 93%;
  max-width: 500px;
  margin-top: 25px;
}

.cards__item-description.card-portfolio {
  margin-top: 20px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-description {
    max-width: 28vw;
    margin-top: 1vw;
  }
}

@media (max-width: 768px) {
  .cards__item-description {
    width: 100%;
    max-width: 500px;
    margin: 10px 0 0 5px;
  }
  .cards__item-description.card-portfolio {
    margin: 5px 0;
    max-width: 295px;
  }
}