.about__box {
  display: flex;
  flex-direction: column; 
  max-width: 875px;
}

.about__box.slide {
  position: relative;
  margin: 0;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .about__box {
    max-width: 48%;
  }
}

@media (max-width: 376px) {
  .about__box.slide {
    margin-bottom: 5px;
  }
}