.switch__button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: 8px 18px;
  background-position: center;
  transition: background-color 0.3s ease;
}

.switch__button.forward {
  background-image: url(./assets/img/prev-gray.svg);
  transform: rotate(180deg)
}

.switch__button.back {
  background-image: url(./assets/img/prev-gray.svg);
}

.switch__button.active {
  background-color: #B4100D;
  background-image: url(./assets/img/prev.svg);
}

.switch__button:disabled {
  background-image: url(./assets/img/prev-gray.svg);
  background-color: #FFF;
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .switch__button {
    width: 4vw;
    height: 4vw;
    background-size: 0.4vw 0.9vw;
  }
}