.footer__branding {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(223, 224, 233, 0.15);
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__branding {
    padding-bottom: 2vw;
  }
}

@media (max-width: 768px) {
  .footer__branding {
    flex-direction: column;
    gap: 40px;
  }
}