.reviews__carousel {
  display: flex;
  gap: 51px;
  margin: 0;
  padding: 0;
  list-style: none;
  touch-action: pan-x;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.reviews__carousel.swiper-wrapper {
  box-sizing: border-box;
}

.reviews__swiper {
  overflow: visible;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .reviews__carousel {
    gap: 2.5vw;
  }
}

@media (max-width: 768px) {
  .reviews__carousel {
    gap: 20px;
    margin-left: 20px;
  }
}