.services__text {
  max-width: 621px;
}
.services__text span{
  color: #B4100D;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__text {
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .services__text {
    font-size: 16px;
    line-height: 130%;
  }
}