.form__input {
  width: 570px;
  padding: 22px 25px;
  border: 2px solid #464646;
  border-radius: 10px;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  caret-color: transparent;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
  cursor: default;
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  transition: font-size 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.form__input:hover::placeholder {
  color: #FFF;
}

.form__input.email {
  width: 580px;
}

.form__input.active {
  border: 2px solid #818181;
  background-color: rgba(255, 255, 255, 0.1);
}

.form__input.active::placeholder {
  font-size: 14px;
  transform: translateY(-20px);
  color: #A3A3A3;
}

@media (max-width: 800px) {
  .form__input, .form__input.email {
    width: 335px;
    padding: 22px 20px;
  }
}