.footer__map-img {
  position: relative;
  width: 1920px;
  height: 702px;
  filter: grayscale(100%) brightness(50%);
  z-index: 1; 
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__map-img {
    width: 100vw;
    height: 36.56vw;
  }
}

@media (max-width: 376px) {
  .footer__map-img {
    width: 375px;
    height: 456px;
  }
}
