.cards__item-button {
  width: 20px;
  height: 6px;
  background-color: #B4100D;
  border: none;
  border-radius: 20px;
}

.cards__item-button_right {
  background-color: #BBBBBB;
}

.cards__item-button.active {
  background-color: #B4100D;
}

.cards__item-button.inactive {
  background-color: #BBBBBB;
}