.cards__item-button {
  position: relative;
  width: 20px;
  height: 6px;
  background-color: #B4100D;
  border: none;
  border-radius: 20px;
}

.cards__item-button::before {
  content: '';
  position: absolute;
  width: 44px;
  height: 44px;
  z-index: 1;
}

.cards__item-button_left::before {
  top: 50%;
  left: -50%;
  transform: translate(-70%, -50%);
}

.cards__item-button_right::before {
  top: 50%;
  right: -7px;
  transform: translate(-65%, -50%);
}

.cards__item-button_right {
  background-color: #BBBBBB;
}

.cards__item-button.active {
  background-color: #B4100D;
}

.cards__item-button.inactive {
  background-color: #BBBBBB;
}


@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-button {
    width: 1vw;
    height: 0.3vw;
  }
}
