.footer__map-btn {
  width: 73px;
  height: 73px;
  background-color: #B4100D;
  border-radius: 50px;
  border: none;
  background-image: url(../../../assets/footer-map-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__map-btn {
    width: 4vw;
    height: 4vw;
    border-radius: 2.5vw;
  }
}