.footer__info-link {
  color: #FFF;
  text-decoration: underline;
}

.footer__info-link.confidentiality {
  position: relative;
  left: -45px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__info-link.confidentiality {
    left: -2.5vw;
  }
}