.header__container {
  display: flex;
  width: 100%;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .header__container {
    display: none;
    max-width: 1600px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 101%;
    flex-direction: column;
    padding: 27px 20px 29px;
    background-color: #FFF;
    z-index: 5;
  }
}