.form__box-button {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #727272;
  margin-top: 24px;
}

.form__box-button a {
  color: #FFF;
}

@media (max-width: 800px) {
  .form__box-button {
    flex-direction: column;
  }
}