.services__card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #F2F2F2;
  border-radius: 10px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__card-img {
    width: 5vw;
    height: 5vw;
  }
}

@media (max-width: 768px) {
  .services__card-img.about__img  {
    width: 60px;
    height: 60px;
  }
}