.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 29px;
  background-color: #FFF;
  border-radius: 10px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item {
    padding: 0.5vw 0.5vw 1.5vw;
  }
}

@media (max-width: 768px) {
  .cards__item {
    padding: 10px 10px 15px 10px;
  }
}