.footer__map-text {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 169px;
  height: 28px;
  border-radius: 5px;
  background-color: #D9D9D9;
  color: #1F1F1F;
  font-size: 18px;
  line-height: 90%;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__map-text {
    width: 9vw;
    height: 1.5vw;
    border-radius: 0.3vw;
    font-size: 1vw;
  }
}