.questions__faq-switch {
  position: relative;
  top: -7px;
  width: 40px;
  height: 40px;
  border: none;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.questions__faq-switch_plus {
  background-image: url(../../../assets/questions-plus.svg);
}

.questions__faq-switch_minus {
  background-image: url(../../../assets/questions-minus.svg);
}