.questions__faq-switch {
  position: relative;
  top: -7px;
  width: 40px;
  height: 40px;
  border: none;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.questions__faq-switch_plus {
  background-image: url(../../../assets/questions-plus.svg);
}

.questions__faq-switch_minus {
  background-image: url(../../../assets/questions-minus.svg);
}

@media (max-width: 1900px) and (min-width: 769px) {
  .questions__faq-switch {
    top: -0.4vw;
    width: 2vw;
    height: 2vw;
    background-size: 2vw 2vw;
  }
}