.subtitle {
  font-size: 76px;
  line-height: 108%;
  letter-spacing: -3.5px;
  text-transform: uppercase;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .services__subtitle {
    font-size: 4.5vw;
  }
}

@media (max-width: 768px) {
  .services__subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
  }
}