.feedback__container {
  display: flex;
  width: 100%;
  max-width: 1760px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .feedback__container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .feedback__container {
    max-width: 90%;
    
  }
}
