.reviews__button-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #B4100D;
  border: none;
  border-radius: 50%;
  background-image: url(/assets/img/reviews-magnifier.svg);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  @media (hover: hover) {
    transition: opacity 0.3s ease;
  }
}

@media (hover: hover) {  
  .reviews__item-carousel:hover .reviews__button-carousel {
    opacity: 1;
  }
}

@media (hover: none), (pointer: coarse) {  
  .reviews__item-carousel:active .reviews__button-carousel {
    opacity: 1;
  }
}

@media (max-width: 1900px) and (min-width: 769px) {
  .reviews__button-carousel {
    width: 6vw;
    height: 6vw;
    background-size: 1.5vw 1.5vw;
  }
}