.header__link {
  position: relative;
}

.header__link:hover {
  display: inline-block;
  color: #B4100D;
  cursor: pointer;
}

.header__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 44px;
  height: 44px;
  z-index: 1;
}