.form__box-input {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0 15px;
}

@media (max-width: 1919px) and (min-width: 769px) {
  .form__box-input {
    gap: 1vw;
    margin: 2.5vw 0 0.8vw;
  }
}

@media (max-width: 768px) {
  .form__box-input {
    gap: 12px;
    margin: 25px 0 15px;
  }
}