.questions__faq-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px 0 28px;
  border-bottom: 1px solid #C0C2CC;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .questions__faq-item {
    padding: 2vw 0 1.5vw;
  }
}

@media (max-width: 768px) {
  .questions__faq-item {
    padding: 22px 0 24px;
  }
}