.company__switch-carousel {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
  color: #727272;
  font-size: 18px;
  line-height: 130%;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .company__switch-carousel {
    gap: 0.5vw;
    font-size: 1.2vw;
  }
}

@media (max-width: 768px) {
  .company__switch-carousel {
    position: relative;
    left: -21px;
    width: 100%;
    justify-content: center;
  }
}