.footer__box {
  width: 100%;
  max-width: 1760px;
  padding: 68px 0 40px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__box {
    max-width: 90%;
    padding: 3.5vw 0 2vw;
  }
}

@media (max-width: 768px) {
  .footer__box {
    width: 90%;
    padding: 40px 0 0;
  }
}