.cards {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0 0 77px 0;
  padding: 0;
}

.cards.cards-portfolio {
  gap: 40px;
  max-width: 1760px;
  margin: 0;
  transition: transform 0.3s ease;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  will-change: transform;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards {
    gap: 3vw;
    margin: 0 0 4vw 0;
  }
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 0 30px 0;
  }
  .cards.cards-portfolio {
    flex-wrap: wrap;
    gap: 16px;
  }
  .cards.cards-portfolio > *:nth-child(n + 4) {
    display: none;
  }
  .cards.cards-portfolio p:nth-of-type(2) {
    font-size: 16px;
  }
}