.products__container {
  width: 100%;
  max-width: 1760px;
  margin: 100px 0 142px;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .products__container {
    max-width: 90%;
    margin: 5% 0;
    padding: 0 5%;
  }
}

@media (max-width: 768px) {
  .products__container {
    margin: 50px 20px 30px;
  }
}