.button-request {
  width: 500px;
  height: 60px;
  margin-top: 30px;
  border: 2px solid #B4100D;
  border-radius: 10px;
  background-color: #FFF;
  color: #B4100D;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.cards.cards-products .cards__item:hover .button-request {
  border: 2px solid #B4100D;
  background-color: #B4100D;
  color: #FFF;
  cursor: pointer;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .button-request {
    width: 25vw;
    height: 4vw;
    margin-top: 1.5vw;
    font-size: 1vw;
  }
  
}