.products__item-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #FFF;
  color: #B4100D;
  font-size: 40px;
  line-height: 130%;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .products__item-number {
    width: 5vw;
    height: 5vw;
    font-size: 2.5vw;
  }
}
