.button-request_white {
  margin: 0;
  width: 372px;
  height: 70px;
  color: #1F1F1F;
  border: 2px solid #1F1F1F;
}

.button-request_white:hover {
  color: #FFF;
  background-color: #1F1F1F;
  border: 2px solid #FFF;
  cursor: pointer;
}

@media (max-width: 800px) {
  .button-request_white {
    width: 335px;
  }
}