.partners__box {
  display: flex;
  margin-top: 60px;
  touch-action: pan-x;
  user-select: none;
  -webkit-user-select: none;
  align-items: center;
}

.partners__box.swiper {
  width: 100%;
  overflow: visible;
}

.partners__box .swiper-wrapper {
  display: flex;
  align-items: center;
}

.partners__box .swiper-slide {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .partners__box {
    margin-top: 3vw;
  }
}

@media (max-width: 768px) {
  .partners__box {
    align-items: center;
    margin-top: 42px;
  }
}