.company__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1760px;
  margin: 117px 0;
}

@media (max-width: 1920px) and (min-width: 1901px) {
  .company__container {
    margin: 120px 0 115px;
  }
}

@media (max-width: 1900px) and (min-width: 769px) {
  .company__container {
    margin: 6vw 0;
    padding: 0 0 0 5%;
  }
}

@media (max-width: 768px) {
  .company__container {
    margin: 50px 0 27px 40px;
  }
}