.services__button {
  width: 410px;
  height: 60px;
  border: 2px solid #B4100D;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  color: #B4100D;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.services__button:hover {
  background-color: #B4100D;
  color: #FFF;
  cursor: default;
}

@media (max-width: 400px) {
  .services__button {
    width: 335px;
    height: 59px;
  }
}