.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1900px) and (min-width: 769px) {
  .footer__info {
    margin-top: 2vw;
  }
}

@media (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
}