.footer__map-box {
  position: relative;
  width: 100%;
  max-width: 1920px;
}

.footer__map-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 25, 30, 0.1);
  z-index: 10;
}

.footer__map-box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background:
    linear-gradient(180deg, #18191E 0%, rgba(24, 25, 30, 0) 100%) top/100% 190px,
    linear-gradient(0deg, #18191E 0%, rgba(24, 25, 30, 0) 100%) bottom/100% 190px,
    linear-gradient(90deg, #18191E 0%, rgba(24, 25, 30, 0) 100%) left/190px 100%,
    linear-gradient(270deg, #18191E 0%, rgba(24, 25, 30, 0) 100%) right/190px 100%;
  background-repeat: no-repeat;
}