.footer__map-box {
  position: relative;
  width: 100%;
  max-width: 1920px;
}

.footer__map-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 56, 96, 0.2);
}