.cards__item-box {
  position: relative;
  max-width: 540px;
  max-height: 540px;
  overflow: hidden;
}

@media (max-width: 1900px) and (min-width: 769px) {
  .cards__item-box {
    max-width: 28vw;
    max-height: 28vw;
  }
}
